<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
		<p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
		<a href="https://ulmlernt.de">UlmLernt</a> ist eine Videokonferenzplattform für öffentliche Schulen in Trägerschaft der Stadt Ulm. 
		Geboren in der Not der Coronakrise soll die Plattform den Lehrkräften in Ulm, 
		um Ulm und um Ulm herum als Werkzeug dienen um den Schülern und Schülerinnen 
		ein Angebot zum Fernunterricht mittels Videokonferenz zu bieten.<br/>
		UlmLernt wird in in Kooperation der Abteilung Bildung und Sport und der digitalen Agenda der Stadt Ulm betrieben.<br/>
		<strong>Eine Registrierung ist nur für Lehrkräfte vorgesehen. Schüler und Schülerinnen benötigen keinen Account</strong>
	  </div>
	</div>

    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
     	<h2>Dokumentation / Anleitungen</h2>
		<p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
		<a href="https://youtu.be/p7GV8quUIAI" target="_blank">
		<h4>Sehen Sie unser Einführungsvideo in UlmLernt auf Youtube an
		<i class="far fa-play-circle ml-1"></i></h4>
		</a>
		</p>

 		<p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
		Anleitungen finden Sie in unserer <a href="https://doku.ulmlernt.de" target="_blank">Dokumentation</a>. 
		Diese befindet sich noch im Aufbau und wird ständig erweitert.
		</p>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12 col-sm-12 text-center">
	    <h2>Hilfe / Support</h2>
		<p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
		Wir bieten einen <a href="https://chat.ulmlernt.de" target="_blank">Support Chatraum</a> an in dem die Entwickler sich 
		schnellstmöglich um Ihre Anliegen kümmern. Alles was in dem Chatraum geschrieben wird ist öffentlich sichtbar.
		Bitte sehen Sie daher davon ab Passwörter oder andere sensitiven Informationen zu posten. <br/>
		Des Weiteren können Sie unseren Support per E-Mail Adresse support__at__ulmlernt.de kontaktieren.
	    </p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-12 col-sm-12 text-center">
	    <h2>Impressum / Datenschutz</h2>
	    <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
		<a href="https://ulmlernt.de/impressum" target="_blank">Impressum</a></br />
		<br />
		<a href="https://ulmlernt.de/datenschutz" target="_blank">Datenschutz</a>
		</p>
      </div>
	</div>
  </div>
</div>


